@import '../../variables.scss';

.switchValue {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  z-index: -1;
  width: 0;
  display: inline-block;
  background-color: $blue;
  border-radius: 5px;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 150px;
  height: 100%;
  border: 1px solid $border-color;
  border-radius: 5px;
}

.switch > div {
  text-align: center;
}

.switch label {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  text-align: center;
  color: $text-color;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.switch input[type='radio'] {
  visibility: hidden;
  position: absolute;
  height: 100%;
}

.switch input[type='radio']:checked + label {
  color: $button-text-color;
}

.switchOptionContainer {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 5px;
}

.switchOptionContainer:hover {
  background-color: lighten($blue, 35%);
}

.switchOptionContainer.active:hover {
  background-color: lighten($blue, 15%);
}
