@import '../../variables.scss';

.pageContent {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.svgIcons {
  height: 0;
  width: 0;
}

.svgIcons svg {
  display: none;
}

.languageSwitcher {
  max-width: 300px;
  display: block;
  margin: 10px 0;
}

.toolbarRow {
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
}

.toolbarLabel {
  display: block;
  margin: 5px 0;
}

.viewSwitcher {
  max-width: 300px;
  min-width: 200px;
  align-self: stretch;
}

.sortSwitchers {
  min-width: 300px;
  margin-right: 20px;

  & > div {
    margin: 5px 0 0;
  }
}
@media(max-width: 380px) {
  .sortSwitchers,
  .viewSwitcher,
  .languageSwitcher {
    width: 100%;
    max-width: none;
    min-width: auto;
    margin-right: 0;
    margin-left: 0;
  }
}

.viewSwitch {
  height: calc(100% - 30px);
}

.searchBlock {
  margin: 30px 0;
  white-space: nowrap;
  text-align: center;

  input {
    margin-left: 2px;
    padding: 8px;
    font-size: 12px;
    border: 1px solid darken($border-color, 10%);
    border-radius: 3px;
    outline: none;
  }

  button {
    margin-left: 20px;
    padding: 8px 26px;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: $button-text-color;
    background-color: $blue;
    outline: none;
    appearance: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: lighten($blue, 20%);
  }
  @media(max-width: 380px) {
    button {
      margin-left: 10px;
      padding: 8px 15px;
    }
  }
}

.avatar {
  display: inline-block;
  padding: 10px;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: #eee;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
