@import '../../variables.scss';

.previews-container {
  margin: 20px -10px;
  display: flex;
  flex-wrap: wrap;
}

.preview-item {
  box-sizing: border-box;
  width: calc(50% - 20px);
  margin: 10px;
  border: 1px solid $border-color;
  box-shadow: 1px 0 5px darken($border-color, 10%);

  &:hover {
    background: lighten($blue, 37%);
  }

  svg {
    width: 30px;
    height: 30px;
    fill: lighten($text-color, 20%);
  }

  .active svg {
    fill: darken($text-color, 20%);
  }

  .videoContainer {
    display: table-cell;
    vertical-align: middle;
    width: 400px;
  }

  .mainUserInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .userName {
    flex: 1;
    margin: 0 20px;
    color: darken($blue, 20%);
    font-weight: 600;
  }

  .agesText {
    margin: 5px 0;
    color: $text-color;
  }

  .aboutUser {
    font-size: 12px;
  }
}

.userData {
  padding: 10px;
}

.video-item {
  width: calc(100% - 20px);
  display: table;

  .userData {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    border-right: 1px solid $border-color;
    box-shadow: 1px 0 5px darken($border-color, 10%);
  }
}

@media(max-width: 600px) {
  .preview-item {
    width: 100%;
  }

  .video-item {
    display: block;
    .userData {
      display: block;
      width: auto;
      border: none;
      box-shadow: none;
    }
  }
}
