@import '../../variables.scss';

.personList {
  margin: 20px 0;
  border-top: 1px solid $border-color;
}

.listItem {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;
  background: lighten($blue, 37%);
}

.listItem:nth-child(2n) {
  background: linear-gradient(to right, lighten($blue, 50%), 50%, lighten($blue, 30%));
}

.listItem .avatar {
  margin: 0 10px;
}

.userinfoContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userinfoContainer > div {
  margin: 0 10px;
  white-space: nowrap;
}

.nameBlock {
  width: 40%;
}

.starBlock {
  flex: 0 0 30px;
}

.starBlock svg {
  width: 30px;
  height: 30px;
  fill: lighten($text-color, 20%);
}

.starBlock .active svg {
  fill: darken($text-color, 20%);
}

@media(max-width: 600px) {
  .userinfoContainer {
    flex-wrap: wrap;
  }

  .nameBlock {
    width: calc(100% - 70px);
    order: 1;
    font-weight: 600;
  }

  .userInfo {
    order: 3;
    font-size: 12px;
    color: $text-color;
  }

  .phoneBlock {
    text-align: right;
  }

  .starBlock {
    order: 2;
  }
}

@media(max-width: 380px) {
  .listItem {
    flex-direction: column;
    justify-content: center;
  }
}